@import '../../../scss/utilities/breakpoint-mixin.scss';

.link {
  padding: 16px 32px;
  border-radius: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.54;
  text-transform: uppercase;

  @include breakpoint('mobile-small') {
    padding: 12px 20px;
    font-size: 16px;
  }
}

.primary {
  background-color: var(--cl-primary-600);
  color: var(--cl-white);
  transition: background-color var(--animat);
}

.primary:hover:not(:disabled) {
  background-color: var(--cl-primary-700);
}

.primary:active:not(:disabled) {
  background-color: var(--cl-primary-800);
}

.primary:focus-visible:not(:disabled) {
  background-color: var(--cl-primary-700);
  outline: 2px solid var(--cl-primary-200);
}

.secondary {
  background-color: var(--cl-white);
  color: var(--cl-primary-900);
  border: 2px solid var(--cl-primary-600);
  transition:
    background-color var(--animat),
    border-color var(--animat);
}

.secondary:hover:not(:disabled),
.secondary:focus-visible:not(:disabled) {
  background-color: var(--cl-primary-50);
  border-color: var(--cl-primary-700);
}

.secondary:active:not(:disabled) {
  background-color: var(--cl-primary-100);
}
