@import '../../scss/utilities/breakpoint-mixin.scss';


.heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 56px;
}

.txt {
  font-family: var(--font-test);
  font-weight: 350;
  text-transform: uppercase;
}

/* .link {

} */

.link::after {
  bottom: -2px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--cl-gray-500);
}

.gallery {
  display: flex;
  gap: 16px;
  min-width: 100%;
  overflow-x: auto;

  @include breakpoint('desktop-large') {
    gap: 24px;
  }
}

.gallery::-webkit-scrollbar {
  display: none;
}

.box {
  position: relative;
  min-width: 156px;
  height: 156px;
  @include breakpoint('tablet-small') {
    min-width: 238px;
    height: 165px;
  }
  @include breakpoint('tablet-large') {
    min-width: 230px;
    height: 230px;
  }
  @include breakpoint('desktop') {
    min-width: 232px;
    height: 232px;
  }
  @include breakpoint('desktop-large') {
    min-width: 282px;
    height: 282px;
  }
}

.img {
  border-radius: 20px;
}
