@import '../../scss/utilities/breakpoint-mixin.scss';

// .selectContainer {
//   display: flex;
//   flex-direction: column;
//   gap: 4px;
//   position: relative;
// }

.label {
  color: var(--cl-gray-500);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

// .select {
//   padding: 12px 36px 12px 16px;
//   border-radius: 20px;
//   border: 1px solid var(--cl-secondary-700);
//   background-color: transparent;
//   appearance: none;
//   outline: none;
//   cursor: pointer;
//   width: 100%;
//   font-size: 16px;
//   line-height: 1.5;
//   color: var(--cl-gray-200);
// }

// .select option {
//   color: red;
//   border-radius: 20px;
// }

// .select:focus {
//   outline: none;
//   border: 1px solid var(--cl-secondary-700);
// }

// .selectCustomArrow {
//   position: absolute;
//   width: 16px;
//   height: 16px;
//   border: none;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   right: 16px;
//   bottom: 16px;
//   pointer-events: none;
// }

// .selectList {
//   width: 100%;
//   z-index: 1;
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   padding: 24px 24px 0 24px;

//   @include breakpoint('desktop-large') {
//     position: absolute;
//     top: 70%;
//     left: 100px;
//     background-color: var(--cl-white);
//     width: 160px;
//     z-index: 1;

//     display: flex;
//     flex-direction: column;
//     border-radius: 20px;
//     padding: 16px 24px 16px 16px;
//     gap: 0;
//   }
// }

.error {
  margin-top: 4px;
  color: var(--cl-error-500);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
