@import '../../scss/utilities/breakpoint-mixin.scss';

.input {
  padding: 16px 24px;
  border-radius: 20px;
  border: 1px solid var(--cl-secondary-700);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cl-gray-200);
  width: calc(100%);
}

@include breakpoint('tablet-small-and-up') {
  .input {
    width: 400px;
  }
}
