@import '../../scss/utilities/breakpoint-mixin.scss';

.input {
  border-radius: 20px;
  line-height: 1.5;
  width: calc(100%);
}

@include breakpoint('tablet-small-and-up') {
  .input {
    width: 400px;
  }
}
