/* Styles for dots*/

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.dots > li {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: var(--cl-gray-100);
  position: relative;
}

.dots > li:global(.slick-active) {
  background-color: var(--cl-primary-500);
}

.dots button {
  position: absolute;
  inset: 0;
  border: none;
  background-color: var(--cl-gray-100);
  cursor: pointer;
}

.dots > li:global(.slick-active) button {
  background-color: var(--cl-primary-500);
}
