@import '../../../scss/utilities/breakpoint-mixin.scss';

.searchImage {
  width: 30px;
  height: 32px;
  border-radius: 50px;
}

.searchLink {
  display: flex;
  justify-content: space-between;
  padding: 4px 6px;

  @include breakpoint('tablet-large-and-up') {
    padding: 5px 13px 5px 6px;
  }

  &:hover,
  &:focus {
    border-radius: 20px;
    background-color: var(--cl-secondary-50);
  }
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
   

@include breakpoint('tablet-large-and-up') {
    gap: 14px;
  }
}
