@import '../../scss/utilities/breakpoint-mixin.scss';

.paymentSection {
  padding-bottom: 114px;
}

.sectionTitle {
  text-align: center;
}

.paymentOptions,
.deliveryOptions {
  padding: 16px 8px 36px 8px;
  border-radius: 20px;
  background-color: var(--cl-secondary-50);
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 306px;

  @include breakpoint('tablet-small') {
    min-height: 428px;
  }

  @include breakpoint('tablet-large') {
    min-height: 282px;
  }

  @include breakpoint('desktop') {
    min-height: 450px;
    min-width: 473px;
  }

  @include breakpoint('desktop-large') {
    min-height: 428px;
    min-width: 585px;
  }
}

.iconCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--cl-primary-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;

  @include breakpoint('tablet-large-and-up') {
    flex-direction: row;
    margin-top: 56px;
  }
}

.iconCard,
.iconBox {
  fill: var(--cl-gray-50);
  width: 38px;
  height: 30px;
}

.paymentTitle {
  font-weight: 700;
}

.paymentInfo {
  max-width: 557px;
}
