@import '../../scss/utilities/breakpoint-mixin.scss';

.paymentSection {
  padding-bottom: 114px;
}

.paymentTitle {
  font-weight: 700;
  margin-bottom: 20px;
  @include breakpoint('desktop-large') {
    margin-bottom: 30px;
  }
}

.paymentText {
  margin-bottom: 20px;
}
