.textContainer {
  margin-bottom: 16px;
}

.imageContainer {
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.imageContainer img {
  border-radius: 20px;
}

/*
  |==============================
  | Mobile landscape and tablet styles
  |==============================
*/
@media (min-width: 667px) and (max-width: 1229.98px) {
  .imageContainer {
    height: 220px;
  }
}

/*
  |==============================
  | Desktop styles (from 1230px and above)
  |==============================
*/

@media (min-width: 1230px) {
  .textContainer {
    max-width: 943px;
    margin-bottom: 56px;
  }

  .imageContainer {
    height: 450px;
  }
}
