.textContainer {
  margin-bottom: 16px;

  @media (min-width: 1230px) {
    max-width: 943px;
    margin-bottom: 56px;
  }
}

.imageContainer {
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @media (min-width: 667px) {
    height: 220px;
  }

  @media (min-width: 1230px) {
    height: 450px;
  }
}

.imageContainer img {
  border-radius: 20px;
}
