@import '../../../scss/utilities/breakpoint-mixin.scss';

.customScrollbar {
  // min-height: min-content;
  max-height: 280px;
  // overflow: hidden;
  position: relative;

  @include breakpoint('tablet-large-and-up') {
    max-height: 385px;
  }
}

.searchList {
  display: flex;
  flex-direction: column;

  @include breakpoint('tablet-large-and-up') {
    gap: 10px;
  }
}

.searchList.large {
  max-width: 281px;

  @include breakpoint('tablet-large-and-up') {
    max-width: 620px;
  }
}

.searchItem {
  font-size: 14px;
  color: var(--cl-gray-700);
}
