@import '../../../scss/utilities/breakpoint-mixin.scss';

.customScrollbar {
  min-height: 240px;
  height: 240px;
  overflow: hidden;
  position: relative;

  @include breakpoint('tablet-large-and-up') {
    min-height: 385px;
    height: 385px;
  }
}

.searchList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 281px;

  @include breakpoint('tablet-large-and-up') {
    gap: 20px;
    max-width: 620px;
  }
}

.searchItem {
  font-size: 14px;
  color: var(--cl-gray-700);
}
