@import '../../scss/utilities/breakpoint-mixin.scss';

.button {
  padding: 16px 32px;

  cursor: pointer;

  border: none;
  border-radius: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.54;
  text-transform: uppercase;

  outline: none;

  @include breakpoint('mobile-small') {
    padding: 12px 20px;
    font-size: 16px;
  }
}

.primary {
  background-color: var(--cl-primary-600);
  color: var(--cl-white);
  transition: background-color var(--animat);
}

.primary:hover:not(:disabled) {
  background-color: var(--cl-primary-700);
}

.primary:active:not(:disabled) {
  background-color: var(--cl-primary-800);
}

.primary:focus-visible:not(:disabled) {
  background-color: var(--cl-primary-700);
  outline: 2px solid var(--cl-primary-200);
}

.primary:disabled {
  background-color: var(--cl-gray-100);
  color: var(--cl-gray-50);
  cursor: not-allowed;
}

.secondary {
  background-color: var(--cl-white);
  color: var(--cl-primary-900);
  border: 2px solid var(--cl-primary-600);
  transition:
    background-color var(--animat),
    border-color var(--animat);
}

.secondary:hover:not(:disabled),
.secondary:focus:not(:disabled) {
  background-color: var(--cl-primary-50);
  border-color: var(--cl-primary-700);
}

.secondary:active:not(:disabled) {
  background-color: var(--cl-primary-100);
}

.secondary:disabled {
  background-color: var(--cl-white);
  color: var(--cl-gray-50);
  border-color: var(--cl-gray-100);
  cursor: not-allowed;
}

/* Styles for button with icon*/

.container {
  padding: 15px 0px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;

  display: flex;
  align-items: center;
  gap: 16px;

  border-radius: 0;
  border-bottom: 2px solid var(--cl-primary-600);
  background-color: transparent;

  transition: border-color var(--animat);
}

.icon {
  width: 24px;
  height: 24px;
}

.container:hover:not(:disabled),
.container:focus:not(:disabled) {
  border-color: var(--cl-primary-700);
}

.container:active:not(:disabled) {
  border-color: var(--cl-primary-800);
}

.container:disabled {
  color: var(--cl-gray-50);
  border-color: var(--cl-gray-100);
  cursor: not-allowed;
}

.dark {
  background-color: var(--cl-gray-600);
  color: var(--cl-white);
  transition: background-color var(--animat);
}

.dark:hover:not(:disabled) {
  background-color: var(--cl-gray-400);
}

.dark:active:not(:disabled) {
  background-color: var(--cl-gray-200);
}

.dark:focus:not(:disabled) {
  background-color: var(--cl-gray-400);
  outline: 2px solid var(--cl-gray-200);
}

.dark:disabled {
  background-color: var(--cl-gray-600);
  color: var(--cl-gray-50);
  cursor: not-allowed;
}

.light {
  background-color: var(--cl-white);
  color: var(--cl-gray-600);
  transition: background-color var(--animat);
  border: 1px solid var(--cl-gray-600);
}

.light:hover:not(:disabled) {
  background-color: var(--cl-gray-200);
}

.light:active:not(:disabled) {
  background-color: var(--cl-gray-50);
}

.light:focus:not(:disabled) {
  background-color: var(--cl-gray-200);
  outline: 2px solid var(--cl-gray-200);
}

.light:disabled {
  color: var(--cl-gray-50);
  cursor: not-allowed;
}
