@import '../../scss/utilities/breakpoint-mixin.scss';

#gallery_details_section {
  @include breakpoint('desktop-large') {
    padding-bottom: 104px;
  }
}

.flexContainer {
  display: flex;
  gap: 140px;
  @include breakpoint('desktop-large') {
    gap: 126px;
  }
}
