@import '../../../scss/utilities/breakpoint-mixin.scss';

.item {
  display: none;

  @include breakpoint('only-mobile') {
    display: list-item;
    padding-top: 97.3px;
  }

  @include breakpoint('tablet-small') {
    padding-top: 254px;
  }
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px 0;
  border-bottom: 2px solid var(--cl-primary-600);
  cursor: pointer;
}

.button > svg {
  font-size: 24px;
  color: var(--cl-primary-900);
}
