@import '../../scss/utilities/breakpoint-mixin.scss';

.wrapper {
  position: relative;
  z-index: 300;
}

.wrapper p {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--cl-primary-600);

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: var(--cl-primary-50);
  width: 30px;
  height: 30px;
}
