
.item {
  padding: 24px 16px;
  border: 1px solid var(--cl-primary-200);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list {
  display: none;
  gap: 16px;
  overflow-x: auto;
  padding: 2px;
  margin: -2px;
}

.slider:checked ~ .list {
  display: flex;
}

.wrapper {
  display: flex;
  gap: 8px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 60px;
  height: 60px;
  border-radius: 12px;
}

.box[title='var(--cl-white)'] {
  border: 1px solid var(--cl-gray-100);
}

.image{
  max-width: 60px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: transform 0.2s;
}

.input:checked ~ .box{
  border: 2px solid var(--cl-primary-500);
  border-radius: 20px;
}

.slider:checked + .wrapper > .iconUp {
  display: block;
}

.slider:checked + .wrapper > .iconDown {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.iconUp {
  display: none;
}

.input:checked ~ .image{
  border: 2px solid var(--cl-primary-500);
  border-radius: 20px;
  transform: scale(1.033)
}

.txt {
  font-weight: 400;
}


.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
