@import '../../../../../scss/utilities/breakpoint-mixin.scss';

.item {
  padding: 24px 16px;
  border: 1px solid var(--cl-primary-200);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include breakpoint('desktop-large') {
    padding: 32px 24px;
    gap: 24px;
  }
}

.list {
  display: flex;
  gap: 16px;
  padding: 2px 2px 12px 2px;
  // margin: -2px;
  text-align: center;

  @include breakpoint('desktop-large') {
    max-height: 510px;
    gap: 24px;
    flex-wrap: wrap;
  }
}

.wrapperList {
  display: none;
}

.itemParam {
  @include breakpoint('all-devices-without-desktop') {
    // max-width: 74px;
  }

  @include breakpoint('desktop-large') {
    width: 100px;
  }
}

.slider:checked ~ .wrapperList {
  display: block;
}

.wrapper {
  display: flex;
  cursor: pointer;

  & .number {
    margin-right: 4px;
  }

  & .title {
    margin-right: 8px;

    @include breakpoint('desktop-large') {
      margin-right: 16px;
    }
  }
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  @include breakpoint('desktop-large') {
    gap: 12px;
  }
}

.box {
  width: 60px;
  height: 60px;
  border-radius: 12px;

  @include breakpoint('tablet-large') {
    width: 80px;
    height: 80px;
  }

  @include breakpoint('desktop') {
    width: 80px;
    height: 80px;
  }

  @include breakpoint('desktop-large') {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
}

.box[title='var(--cl-white)'] {
  border: 1px solid var(--cl-gray-100);
}

.image {
  width: 60px;
  max-width: none;
  height: 60px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: transform 0.2s;

  @include breakpoint('tablet-large') {
    width: 80px;
    height: 80px;
  }

  @include breakpoint('desktop') {
    width: 80px;
    height: 80px;
  }

  @include breakpoint('desktop-large') {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
}

.input:checked ~ .box {
  border: 2px solid var(--cl-primary-500);
  border-radius: 20px;
}

.slider:checked + .wrapper > .iconUp {
  display: block;
}

.slider:checked + .wrapper > .iconDown {
  display: none;
}

.icon {
  width: 26px;
  height: 26px;
  margin-left: auto;
}

.iconUp {
  display: none;
}

.input:checked ~ .image {
  border: 2px solid var(--cl-primary-500);
  border-radius: 20px;
  transform: scale(1.033);
}

.txt {
  font-weight: 400;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
