@import '../../scss/utilities/breakpoint-mixin.scss';

.section {

  padding-bottom: 30px;

  @include breakpoint('mobile-large-and-up') {
    padding-bottom: 50px;
  }
  
  @include breakpoint('desktop-large') {
    padding-bottom: 56px;
  }
}

.container {
  position: relative;
  display: flex;
  gap: 8px;

  @include breakpoint('only-mobile-small') {
    height: 40px;
    gap: 16px;
  }
}

.list {
  text-transform: uppercase;
  display: flex;


  @include breakpoint('only-mobile-small') {
    position: absolute;
    z-index: 10;
    background-color: var(--cl-white);
    width: 156px;
    flex-direction: column;
    border: 1px solid var(--cl-primary-100);
    border-radius: 20px;
  }

}

.item {

  border: 1px solid var(--cl-primary-100);
  border-radius: 20px;
  text-align: center;
  height: 40px;


  @include breakpoint('only-mobile-small') {
    flex-direction: column;
    border: none
  }

  @include breakpoint('tablet-small') {
    width: 150px;
  }

  @include breakpoint('tablet-large') {
    width: 186px;
  }

  @include breakpoint('desktop') {
    width: 270px;
  }

  @include breakpoint('desktop-large') {
    width: 400px;
    height: 50px;
  }
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

.current {

  @include breakpoint('mobile-large-and-up') {
    background-color: var(--cl-primary-50);
    border: none;
  }
}

.title {

  @include breakpoint('desktop-large') {
    font-size: 22px;
  }
}

.btn {
  border: 1px solid var(--cl-primary-100);
  border-radius: 20px;
  text-align: center;
  height: 40px;
  background-color: var(--cl-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 156px;

  @include breakpoint('only-mobile-small') {
    position: absolute;
    right: 24px;
  }
}

.backdrop {
  background-color: var(--cl-white);
  overflow: auto;
  padding-top: 160px;
  padding-bottom: 0px;

  &::-webkit-scrollbar {
    width: 10px;
    // border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: var(--cl-gray-200);
  }
  &::-webkit-scrollbar-thumb {
    // width: 8px;
    background: var(--cl-gray-500);
    border-radius: 4px;
  }
}