.subscription {
  text-align: left;
}

.subscriptionTypography {
  font-weight: 300;
  text-transform: uppercase;
  max-width: 424px;
  margin-bottom: 16px;
}

.subscriptionWrapper {
  display: flex;
  margin-top: 40px;
  gap: 16px;
}
