@import '../../scss/utilities/breakpoint-mixin.scss';

.subscription {
  text-align: left;
}

.subscriptionTitle {
  text-transform: uppercase;
  margin-bottom: 16px;
}


@include breakpoint('tablet-small-and-up') {
  .subscriptionTitle {
   max-width: 286px;
  }
}

@include breakpoint('only-mobile') {
  .subscriptionTypography {
    margin-bottom: 24px;
  }
}

@include breakpoint('tablet-small-and-up') {
  .subscriptionWrapper {
    display: flex;
    margin-top: 24px;
    gap: 16px;
  }
}

@include breakpoint('desktop-large') {
  .subscriptionWrapper {
    gap: 40px;
  }
}

@include breakpoint('only-mobile') {
  .subscriptionButton {
    width: calc(100%);
    margin-top: 16px;
  }
}

@include breakpoint('tablet-small-and-up') {
  .subscriptionButton {
    width: 193px;
  }
}

.subscriptionInput {
  padding: 16px 24px;
  font-size: 16px;
  color: var(--cl-gray-200);
}
