.container {
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;

  @media (min-width: 360px) {
    max-width: 360px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}
