@import '../../scss/utilities/breakpoint-mixin.scss';

#section {
  @include breakpoint('desktop-large') {
    padding-top: 56px;
    padding-bottom: 120px;
  }
}

.container {
  display: flex;
  gap: 28px;
}

.container .filter {
  display: none;

  @include breakpoint('desktop-large') {
    display: flex;
  }
}
