@import '../../../../scss/utilities/breakpoint-mixin.scss';


.div {
  @include breakpoint('desktop') {
    width: 480px;
    // flex: 0 1 50%;
  }
  
  @include breakpoint('desktop-large') {
    width: 588px;
  }
}

.wrapper {
  position: sticky;
  top: 32px;
}

.image {
  width: 327px;
  height: 327px;
  border-radius: 20px;

  @include breakpoint('tablet-small') {
    width: 619px;
    height: 619px;
  }

  @include breakpoint('tablet-large') {
    width: 720px;
    height: 720px;
  }

  @include breakpoint('desktop') {
    width: 480px;
    height: 480px;
  }

  @include breakpoint('desktop-large') {
    width: 588px;
    height: 588px;
  }
}