@import '../../scss/utilities/breakpoint-mixin.scss';

/*font-family: Avenir LT Std;*/
.typography--variant-heading1 {
  font-size: 28px;
  font-weight: 350;
  line-height: 1.24;

  @include breakpoint('mobile-small') {
    font-size: 26px;
  }
}

/*font-family: Avenir LT Std;*/
.typography--variant-heading2 {
  font-size: 28px;
  font-weight: 350;
  line-height: 1.24;

  @include breakpoint('mobile-small') {
    font-size: 26px;
  }

  @include breakpoint('desktop-large') {
    font-size: 44px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
  }
}

.typography--variant-subheadingLight {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;

  @include breakpoint('mobile-small') {
    font-size: 20px;
  }

  @include breakpoint('tablet-small') {
    font-size: 30px;
  }

  @include breakpoint('tablet-large') {
    font-size: 36px;
  }

  @include breakpoint('desktop') {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.3;
  }

  @include breakpoint('desktop-large') {
    font-size: 64px;
  }
}

.typography--variant-subheading1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
}

.typography--variant-subheading2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3;
}

.typography--variant-subheading3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.4;
}

/*font-family: Avenir LT Std;*/
.typography--variant-subheding4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.24;
  text-transform: uppercase;
}

.typography--variant-subheadingBold {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;

  @include breakpoint('tablet-small-and-up') {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44;
  }
}

.typography--variant-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.typography--variant-bodyXL {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;

  @include breakpoint('mobile-small') {
    font-size: 18px;
  }

  @include breakpoint('only-mobile-small') {
    font-size: 20px;
    line-height: 1.5;
  }

  @include breakpoint('desktop-large') {
    line-height: 1.5;
  }
}

.typography--variant-bodyXLHeavy {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.44;
}

.typography--variant-bodyL {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.typography--variant-bodyL24 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;

  @include breakpoint('mobile-large-and-up') {
    font-size: 24px;
    line-height: 1.4;
  }
}

.typography--variant-bodyLBold {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;

  @include breakpoint('mobile-large-and-up') {
    font-size: 44px;
  }
}

.typography--variant-bodyRegular {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.typography--variant-bodyS {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.typography--variant-bodyS2 {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

/*
  |==============================
  | Tablet styles 
  |==============================
*/

@media (min-width: 768px) {
  .typography--variant-heading1 {
    font-size: 40px;
  }
}
/* 
@media (min-width: 1440px) {
  .typography--variant-subheading1 {
    font-size: 48px;
  }
} */

@include breakpoint('desktop-large') {
  .typography--variant-subheading2 {
    font-size: 48px;
  }
}

/*
  |==============================
  | Desktop styles (from 1230px and above)
  |==============================
*/
@media (min-width: 1230px) {
  .typography--variant-subheding4 {
    font-size: 64px;
    font-weight: 350;
  }

  .typography--variant-heading1 {
    font-size: 64px;
  }
}

.typography--variant-subheadingRegular {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;

  @include breakpoint('mobile-large-and-up') {
    font-size: 36px;
  }
  @include breakpoint('tablet-large-and-up') {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.3;
  }
}

.typography--variant-exLargeBold {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.44;
}

.typography--variant-bodyLarge {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}
