@import '../../../../scss/utilities/breakpoint-mixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include breakpoint('desktop') {
    width: 480px;
    // flex: 0 1 50%;
  }
  
  @include breakpoint('desktop-large') {
    width: 486px;
    gap: 40px;

  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  @include breakpoint('desktop-large') {
    gap: 32px;
  }
}

.wrapperPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.price {
  font-weight: 700;
  margin-right: 16px;
}

.btn {

  @include breakpoint('tablet-large') {
    margin-left: auto;
    width: 352px;
  }
  
  @include breakpoint('desktop') {
    margin-left: auto;
    width: 356px;
  }
}