@import '../../../scss/utilities/breakpoint-mixin.scss';

.candleWrapper {
  background-color: white;
}

.candleTitle {
  margin-bottom: 16px;
}

.costSymbol {
  color: var(--cl-primary-500);
  width: 18px;
  height: 18px;
}

.candleDescription {
  max-width: 268px;
  margin-bottom: 24px;
}

.candeleCostWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;


}

.candeleCost {
  display: flex;
  align-items: center;
  gap: 4px;
}

.candeleQuantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.candleCount svg {
  width: 100%;
  height: 100%;
}

.candeleBuyWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;

  @include breakpoint('tablet-large') {
    margin-left: auto;
    width: 352px;
  }

   @include breakpoint('desktop') {
    width: 356px;
  }

  @include breakpoint('desktop-large') {
    width: 486px;
  }
}

.candeleBuy {
  width: 100%;
}

.candeleAccordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
