@import '../../../scss/utilities/breakpoint-mixin.scss';

.list {
  width: 100%;

  @include breakpoint('desktop') {
    width: 480px;
  }

  @include breakpoint('desktop-large') {
    width: 588px;
  }
}
