@import '../../scss/utilities/breakpoint-mixin.scss';

.navigationList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-size: 20px;
  line-height: 1.5;
  color: var(--cl-gray-700);

  @include breakpoint('desktop-large') {
    position: relative;
    cursor: pointer;
    flex-direction: row;
  }
}

.activeLink {
  border-bottom: 1px solid var(--cl-primary-500);
}

.candlesList {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 0 24px;

  @include breakpoint('desktop-large') {
    position: absolute;
    top: 100%;
    left: 100px;
    background-color: var(--cl-white);
    width: 160px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 16px 24px 16px 16px;
  }
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.candlesLink {
  @include breakpoint('desktop-large') {
    padding: 8px 24px 8px 16px;
  }
}

.candlesItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;

  @include breakpoint('desktop-large') {
    border-bottom: 1px solid var(--cl-secondary-100);
    padding: 8px 0;
  }
}

.candlesItem:hover {
  background-color: var(--cl-secondary-50);
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.footerVariant {
  padding: 0;
}
