@import '../../scss/utilities/breakpoint-mixin.scss';

.navigationList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 1.5;
  color: var(--cl-gray-700);

  @include breakpoint('all-devices-without-desktop') {
    gap: 32px;
  }

  @include breakpoint('desktop-large') {
    position: relative;
    cursor: pointer;
    flex-direction: row;
    gap: 24px;
  }
}

.navigationItem {
  @include breakpoint('all-devices-without-desktop') {
    width: 100%;
  }
}

.candlesList {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 0 24px;

  @include breakpoint('desktop-large') {
    position: absolute;
    top: 70%;
    left: 100px;
    background-color: var(--cl-white);
    width: 160px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 16px 24px 16px 16px;
    gap: 0;
  }
}

.footerCandlesList {
  @include breakpoint('all-devices-without-desktop') {
    padding: 0 24px;
    margin-top: 12px;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}

.centerContent {
  display: flex;
  align-items: center;
  gap: 8px;

  @include breakpoint('desktop-large') {
    & > span {
      padding: 31.6px 0;
    }
  }

  @include breakpoint('all-devices-without-desktop') {
    width: 100%;
  }
}

.centerContentFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.candlesLink {
  @include breakpoint('desktop-large') {
    padding: 8px 24px 8px 16px;
  }
}

.activeLink::after {
  content: '';
  display: block;
  bottom: -1px;
  width: 100%;
  border-bottom: 1px solid var(--cl-primary-500);
  transition: border-bottom-color var(--animat);
}

.navigationList:hover .activeLink:not(:hover)::after {
  border-bottom-color: transparent;
}

.candlesItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;

  @include breakpoint('desktop-large') {
    border-bottom: 1px solid var(--cl-secondary-100);
    padding: 8px 0;
  }
}

.candlesItem:hover {
  background-color: var(--cl-secondary-50);
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.candlesItemPadding {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--cl-primary-500);
    transform-origin: 100% 50%;
    transition: all var(--animat);
    transform: scaleX(0);
    transform: scaleY(1);
    transform: scaleZ(1);
    will-change: transform;
  }

  &:not(.activeLink):hover::before {
    width: 100%;
    transform-origin: 100% 0;
    transform: scaleX(1);
    transform: scaleY(1);
    transform: scaleZ(1);
  }

  @include breakpoint('desktop-large') {
    padding: 35px 0;

    &::before {
      bottom: 30px;
    }
  }
}

.centerContent .arrowIcon {
  margin-left: auto;
}
