@import '../../../scss/utilities/breakpoint-mixin.scss';

.form {
  width: 100%;

  @include breakpoint('desktop') {
    width: 356px;
  }

  @include breakpoint('desktop-large') {
    width: 486px;
  }
}

.form__group {
  all: unset;
  display: block;
  width: 100%;
}

.form__group:not(:last-child) {
  margin-bottom: 24px;
}

.group__title {
  color: var(--cl-gray-500);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 24px */
}

.group__title:not(:last-child) {
  margin-bottom: 16px;
}

.contactInfo__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
