@import '../../../scss/utilities/breakpoint-mixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  @include breakpoint('desktop-large') {
    flex-direction: row;
    gap: 126px;
  }
}

.div {
  width: 588px;
}