@import '../../../scss/utilities/breakpoint-mixin.scss';

#related_products_section {
  @include breakpoint('desktop-large') {
    padding-bottom: 114px;
  }
}

.related_products_title {
  margin-bottom: 24px;
  text-align: center;
  line-height: 1.4;

  @include breakpoint('tablet-small-and-up') {
    font-size: 24px;
  }

  @include breakpoint('desktop-large') {
    margin-bottom: 40px;
  }
}

.card {
  width: 135px !important;

  @include breakpoint('mobile-large') {
    width: 154px !important;
  }

  @include breakpoint('tablet-small') {
    width: 300px !important;
  }

  @include breakpoint('tablet-large') {
    width: 154px !important;
  }

  @include breakpoint('desktop') {
    width: 234px !important;
  }

  @include breakpoint('desktop-large') {
    width: 282px !important;
  }
}

.img_container {
  position: relative;
  height: 170px;
  margin-bottom: 16px;

  @include breakpoint('mobile-large') {
    height: 183px;
  }

  @include breakpoint('tablet-small') {
    height: 314px;
  }

  @include breakpoint('tablet-small-and-up') {
    margin-bottom: 24px;
  }

  @include breakpoint('tablet-large') {
    height: 183px;
  }

  @include breakpoint('desktop') {
    height: 277px;
  }

  @include breakpoint('desktop-large') {
    height: 314px;
  }
}

.img_container img {
  border-radius: 20px;
}

.title {
  color: var(--cl-gray-500);
  transition: color var(--animat);
  margin-bottom: 12px;

  @include breakpoint('tablet-small-and-up') {
    margin-bottom: 16px;
  }
}

.title:hover,
.title:focus {
  color: var(--cl-gray-900);
}

/* Styles for dots*/

.dots {
  margin-top: 56px;
}
