:root {
  /* colors */

  --cl-gray-900: #060606;
  --cl-gray-800: #0F0F0F;
  --cl-gray-700: #1E1E1E;
  --cl-gray-600: #2D2D2D;
  --cl-gray-500: #3C3C3C;
  --cl-gray-400: #636363;
  --cl-gray-300: #8A8A8A;
  --cl-gray-200: #B1B1B1;
  --cl-gray-100: #D8D8D8;
  --cl-gray-50: #ECECEC;

  --cl-primary-900: #18010A;
  --cl-primary-800: #3B021A;
  --cl-primary-700: #760434;
  --cl-primary-600: #B0054E;
  --cl-primary-500: #EB0768;
  --cl-primary-400: #EF3986;
  --cl-primary-300: #F36AA4;
  --cl-primary-200: #F79CC3;
  --cl-primary-100: #FBCDE1;
  --cl-primary-50: #FEE7F0;

  --cl-secondary-900: #191213;
  --cl-secondary-800: #3F2E2E;
  --cl-secondary-700: #7F5C5D;
  --cl-secondary-600: #BE898B;
  --cl-secondary-500: #FDB7B9;
  --cl-secondary-400: #FDC5C7;
  --cl-secondary-300: #FED4D5;
  --cl-secondary-200: #FEE2E3;
  --cl-secondary-100: #FFF1F1;
  --cl-secondary-50: #FFF8F9;

  /* size */

  /* animat */
  --animat: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
  color: currentColor;
}
