@import '../../scss/utilities/breakpoint-mixin.scss';

/*
  |==============================
  | Header
  |==============================
*/

.header {
  min-height: 60px;
  position: relative;
  background-color: var(--cl-white);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;

  @include breakpoint('desktop-large') {
    min-height: 100px;
  }
}

/*
  |==============================
  | Logo
  |==============================
*/

.logo {
  margin-right: auto;
  position: relative;
  z-index: 12;
}

.logo img {
  object-fit: contain;
}

.smallLogo {
  width: 77px;
  height: 20px;
}

.bigLogo {
  width: 150px;
  height: 40px;
}

/*
  |==============================
  | Icons 
  |==============================
*/
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-left: auto;
  position: relative;
  z-index: 12;
}

.iconsList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconsItem {
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsItem svg {
  width: 24px;
  height: 24px;
  transition: color var(--animat);
}

.iconsItem svg:hover {
  color: var(--cl-primary-500);
}

.cartIcon {
  padding-top: 2px;
  position: relative;
}

/*
  |==============================
  | Burger menu 
  |==============================
*/

.burgerMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: var(--cl-white);
  padding-top: 112px;
  padding-bottom: 120px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity var(--animat-2),
    visibility var(--animat-2);

  &::before {
    content: '';
    position: fixed;
    width: 100%;
    min-height: 56px;
    top: 0;
    left: 0;
    background-color: var(--cl-white);
    z-index: 11;
  }
}

.burgerMenu.isOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobileLangMenu {
  margin-top: 40px;
  padding: 0;
  width: 100%;
}

.menuIcon {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 5;
  height: 16px;
}

.menuIcon:hover span,
.menuIcon:hover::before,
.menuIcon:hover::after {
  background-color: var(--cl-primary-500);
}

.menuIcon span,
.menuIcon::before,
.menuIcon::after {
  content: '';
  left: 10px;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: var(--cl-primary-900);
  transition: all var(--animat) 0s;
  border-radius: 2px;
}

.menuIcon span {
  width: 18px;
}

.menuIcon::before {
  top: 0;
}

.menuIcon::after {
  bottom: 0;
}

.menuIcon span {
  top: calc(50% - 1px);
}

.iconsItem.menuOpen .menuIcon span {
  width: 0;
}

.iconsItem.menuOpen .menuIcon::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

.iconsItem.menuOpen .menuIcon::after {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}

.overflowHidden {
  overflow: hidden;
}

/*Mobile landscape and tablet styles*/
@media (min-width: 667px) and (max-width: 1229.98px) {
  .mobileLangMenu {
    margin-top: 80px;
  }
}

/*Mobile and tablet styles*/
@media (max-width: 1229.98px) {
  .navbar,
  .langMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobileLangMenu {
    display: inline-block;
  }
}

/*Desktop styles*/
@media (min-width: 1230px) {
  .header {
    min-height: 100px;
  }

  .logo {
    height: 40px;
    width: 150px;
  }

  .iconsList {
    color: var(--cl-primary-900);
    gap: 24px;
  }

  .iconsItem {
    width: 24px;
    height: 40px;
  }

  .menuIcon {
    display: none;
  }

  .burgerMenu {
    display: none;
  }
}
