.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.headerContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 148px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-left: auto;
}

.shoppingIcons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.shoppingIcons__item {
  cursor: pointer;
  transition: transform var(--animat);
}

.shoppingIcons__item:hover,
.shoppingIcons__item:focus {
  transform: scale(1.1);
}

.language_menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.arrowDown {
  cursor: pointer;
}
