/*
  |==============================
  | Header
  |==============================
*/

@import '../../scss/utilities/breakpoint-mixin.scss';

.header {
  min-height: 60px;
  position: relative;
  z-index: 1000;
  background-color: var(--cl-white);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;

  @include breakpoint('desktop-large') {
    min-height: 100px;
  }
}

/*
  |==============================
  | Logo
  |==============================
*/

.logo {
  height: 21px;
  width: 77px;
  margin-right: auto;
}

/*
  |==============================
  | Icons 
  |==============================
*/
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-left: auto;
}

.iconsList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconsItem {
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconsItem svg {
  width: 18px;
  height: 18px;
}

/*
  |==============================
  | Burger menu 
  |==============================
*/

.burgerMenu {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: var(--cl-white);
  width: 100vw;
  height: fit-content;
  padding: 80px 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--animat), visibility var(--animat);
}

.burgerMenu.isOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobileLangMenu {
  margin-top: 40px;
  padding: 0;
  width: 100%;
}

.menuIcon {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/*Mobile landscape and tablet styles*/
@media (min-width: 667px) and (max-width: 1229.98px) {
  .mobileLangMenu {
    margin-top: 80px;
  }
}

/*Mobile and tablet styles*/
@media (max-width: 1229.98px) {
  .navbar,
  .langMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mobileLangMenu {
    display: inline-block;
  }
}

/*Desktop styles*/
@media (min-width: 1230px) {
  .header {
    min-height: 100px;
  }

  .logo {
    height: 40px;
    width: 150px;
  }

  .iconsList {
    gap: 24px;
  }

  .iconsItem {
    width: 24px;
    height: 24px;
  }

  .menuIcon {
    display: none;
  }

  .burgerMenu {
    display: none;
  }
}
