@import '../../../scss/utilities/breakpoint-mixin.scss';
.welcome_section {
  @include breakpoint('all-devices-without-desktop') {
    padding-bottom: 40px;
  }
}

.welcome_text span:first-child {
  display: block;
  margin-top: 32px;
  margin-bottom: 16px;

  @include breakpoint('desktop-large') {
    margin-top: 40px;
  }
}

.welcome_text {
  margin-bottom: 24px;
}

.welcome_buttonWrapper {
display: flex;
}

.welcome_button {
  width: 100%;
  
  @include breakpoint('only-mobile-small') {
    padding: 14px 0;
  }

  @include breakpoint('tablet-large') {
    max-width: 352px;
    padding: 14px 10px;
    margin-left: auto;
  }

  @include breakpoint('desktop') {
    max-width: 356px;
    padding: 14px 10px;
    margin-left: auto;
  }

  @include breakpoint('desktop-large') {
    max-width: 373px;
  }
}
