@import '../../../scss/utilities/breakpoint-mixin.scss';
.welcome_section {
  @include breakpoint('all-devices-without-desktop') {
    padding-bottom: 40px;
  }
}

.welcome_text span:first-child {
  display: block;
  margin-top: 32px;
  margin-bottom: 16px;

  @include breakpoint('desktop-large') {
    margin-top: 40px;
  }
}
