.footer {
  padding-top: 40px;
  padding-bottom: 24px;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.addressList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contactUsText {
  margin-bottom: 24px;
}

.addressLink {
  display: flex;
  align-items: center;
  gap: 12px;
}

.addressTypography {
  font-style: normal;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
