.searchWrapper {
  position: relative;
}

.searchInput {
  padding: 16px 24px 16px 54px;
  font-size: 20px;
  color: var(--cl-gray-600);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 24px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
}

.closeIcon {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
}
