@import '../../../../../scss/utilities/breakpoint-mixin.scss';

.param {
  position: absolute;
  transform: translate(-50%, -50%);

  // top: 90px;
  // left: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  // border: 1px var(--cl-primary-500) solid;
  border-radius: 50%;

  width: 60px;
  height: 60px;

  @include breakpoint('tablet-small') {
    width: 100px;
    height: 100px;
  }

  @include breakpoint('tablet-large') {
    width: 130px;
    height: 130px;
  }

  @include breakpoint('desktop') {
    width: 150px;
    height: 150px;
  }

  @include breakpoint('desktop-large') {
    width: 100px;
    height: 100px;
  }
}

.paramImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;

  @include breakpoint('tablet-small') {
    width: 95px;
    height: 95px;
  }

  @include breakpoint('tablet-large') {
    width: 115px;
    height: 115px;
  }

  @include breakpoint('desktop') {
    width: 75px;
    height: 75px;
  }

  @include breakpoint('desktop-large') {
    width: 92px;
    height: 92px;
  }
}

// .paramColor {

// }