@import '../../../scss/utilities/breakpoint-mixin.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
  row-gap: 20px;

  @include breakpoint('only-mobile') {
    justify-content: center;
  }

  @include breakpoint('tablet-large') {
    column-gap: 24px;
    row-gap: 30px;
  }

  @include breakpoint('desktop') {
    column-gap: 20px;
  }

  @include breakpoint('desktop-large') {
    column-gap: 24px;
    row-gap: 40px;
  }
}
